<html>
<body>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/base.css">
        <style>
        	body {
        		background:url(/static/images/brackets.gif) 0px -50px repeat-x;
        	}
        </style>
    </head>
    <body>
        <div id="container" style="font-size:16px">


<h1 style="font-family:KlavikaMedium;font-size:30px">About MangleBracket</h1>

<p>MangleBracket was created by <a href="http://www.darkporter.com/">John Simons</a> in 
	the spring of 2008. John is from Seattle, WA, and currently lives in Brooklyn, NY.</p>
	
<p>MangleBracket was developed on a Mac and is hosted on the Google App Engine.
	DOC and DOCX conversion are handled by OpenOffice 3.2 running on Ubuntu 10.4.
</p>


<h2 style="font-size:16px">Services that MangleBracket uses and recommends:</h2>
<p>
	<a href="http://www.beanstalkapp.com/">Beanstalk</a> for Subversion<br>
	<a href="http://www.godaddy.com">GoDaddy</a> for domain registration and DNS<br>
	<a href="http://www.slicehost.com">SliceHost</a> for unmanaged hosting<br>
</p>

<h2 style="font-size:16px">Contact</h2>
<p>For business or press inquiries, or general feedback, contact John at:<br>
<a href="mailto:coolcucumber@gmail.com">coolcucumber@gmail.com</a>
</p>
	
	
	</div>
</body>
</html>
