<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/base.css">
        <script src="/static/jquery-1.4.2.min.js" type="text/javascript"></script>
        <style>

        </style>
	</head>
    <body>
        <div style="padding-top:5px;">
            <a href="$logout_url" style="float:right;margin-right:10px;margin-top:5px;">Log out $user</a>

        	<table cellspacing="0" cellpadding="0" class="nav"><tr>
        		<td class="tab"><a href="/" style="">MangleBracket</a> </td>
        	</tr></table>
        </div>
        
        <hr style="margin:4px 0px 6px;">
        
        <div id="container" style="margin-top:30px;padding-top:0;">
            <table cellpadding=0 cellspacing=0>
                <tr>
                    <td style="width:300px;vertical-align:top;padding-right:8px;">
                        <h1 style="font-family:KlavikaMedium">Upload New Document</h1>
    
                        <form action="/workspace/new" method="POST" enctype="multipart/form-data">
                            <p>Select an OpenOffice Text document (.ODT).</p>
                            <input type="file" name="document">
                            <input type="submit" value="Upload">
                        </form>
                    </td>
                    <td style="vertical-align:top;background:url(/static/images/vrule_dotted.gif) top left repeat-y;padding-left:30px;">
                        <h1 style="font-family:KlavikaMedium">Existing workspaces</h1>
                        #if $user_record.workspace_set.count() > 0
                            <ul class="document-list">
                            #for $workspace in $user_record.workspace_set
                                <li><a href="/workspace/$workspace.key().id()">$workspace.original_filename</a></li>
                            #end for
                            </ul>
                        #else
                            No workspaces
                        #end if
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>    