<html>
<body>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/base.css">
        <style>
        	body {
        		background:url(/static/images/brackets.gif) 0px -50px repeat-x;
        	}
        </style>
    </head>
    <body>
        <div id="container" style="font-size:16px">


<h1 style="font-family:KlavikaMedium;font-size:30px">MangleBracket Support</h1>

<p>For support, email John Simons at:</p>
<p><a href="mailto:coolcucumber@gmail.com">coolcucumber@gmail.com</a></p>

	
	
	</div>
</body>
</html>
